#pageTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-decoration: underline dashed rgb(144, 47, 235);
}

#headerImg {
  width: 100%;
  height: 120px;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 2rem;
  
}

#createLabel {
  font-weight: 700;
  font-size: 1.2rem;
}

#createInput {
  display: block;
  width: 100%;
  padding: 8px 4px;
  margin-top: 0.3rem;
  margin-bottom: 0.4rem;
  background-color: rgba(74, 74, 74, 0.61);
  color: white;
  font-size: 1rem;
  border: 0;
  border-radius: 4px;
}

.inputDescription {
  font-size: 0.9rem;
  padding: 6px 0;
  color: rgb(194, 193, 193);
}

#createBtn {
  margin: 1rem 0;
  width: 100%;
  height: 40px;
  background-color: rgb(128, 28, 222);
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

#createBtn:hover {
  background-color: rgb(144, 47, 235);
}

@media only screen and (min-width: 38em) {

  #createLabel {
    font-size: 1.4rem;
  }


  #createBtn {
    height: 60px;
  }

  #headerImg {
    height: 300px;
  }
}
