header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
}

#siteLogo {
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

#siteLogo:hover {
  text-decoration: underline dashed rgb(128, 28, 222);
}

#createBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  color: white;
  background-color: rgb(128, 28, 222);
  border-radius: 8px;
  text-decoration: none;
  font-weight: 700;
}

#createBtn:hover {
  background-color: rgb(144, 47, 235);
}
