

#heroContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#heroImg {
  width: 100%;
  border-radius: 8px;
}


#infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#tagline {
  font-size: 2.5rem;
}

.infoContent {
  padding: 1rem 0px;
}

#createStoryBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  width: 100%;
  color: white;
  background-color: rgb(128, 28, 222);
  border-radius: 3px;
  text-decoration: none;
  font-weight: 700;
}


.linebreak {
  height: 2px;
  border: none;
  background-color: rgba(156, 72, 234, 0.39);
}

@media only screen and (min-width: 54em) {
 
  #heroContainer {
    flex-direction: row;
  }


  #imageContainer {
    width: 45%;
  }
  
  #heroImg {
    width: 100%;
 
  }
  
  #infoContainer {
    width: 55%;
   
  }
  
  #tagline {
    font-size: 2.5rem;
  }



}
